// Variable overrides
$theme-colors: (
  'primary': #0074d9,
  'danger': #ff4136,
);

//$sidebar-bg: #115bb1;
$sidebar-bg: #121212;
$sidebar-nav-title-color: #cab3b3;
$sidebar-nav-link-hover-bg: #f8c623;
$sidebar-nav-link-active-icon-color: #f8c623;
$sidebar-width: 220px;

//$navbar-bg:#F9C623;
//$navbar-color:$sidebar-bg;
//$navbar-brand-bg: $sidebar-bg;
