<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand m-2 col-4">Energy Housholder</div>
  <ul class="navbar-nav row col-8">
    <li class="col-2 nav-item">
      <a class="btn btn-secondary w-100" href="/">Home</a>
    </li>
    <li class="col-2 nav-item">
      <a class="btn btn-secondary w-100" href="/home">Energie Übersicht</a>
    </li>
    <li class="col-2 nav-item">
      <a class="btn btn-secondary w-100" href="/heartbeats"
        >Heartbeat Übersicht</a
      >
    </li>
    <li class="col-2 nav-item">
      <a class="btn btn-secondary w-100" href="/weather">Wetter Übersicht</a>
    </li>
  </ul>
</nav>
