<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand m-2">Energy Housholder</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Energie Übersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/heartbeats">Heartbeat Übersicht</a>
      </li>
    </ul>
  </div>
</nav>
