<div class="h-100 w-100">
  <div class="content">
    <h1>Welcome to the Energy Data Component!</h1>
    <p>This is a simple Angular component.</p>
    <div class="row col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <h3>Batterie Level Graph</h3>
        </div>
        <div class="card-body">
          <div #batteryChart></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>Daten-Entries</h3>
        </div>
        <div class="card-body">
          <div #tabulator></div>
        </div>
      </div>
    </div>
  </div>
</div>
